body {
  padding: 2em 1em;
  background-color: blanchedalmond;
  color: rgb(70, 60, 20);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

label > input {
  width: 300px;
}

a {
  color: blue;
  text-decoration: none;
  padding-left: 2em;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  border: 2px solid rgb(70, 60, 20);
  border-radius: 16px;
  padding: 0.5em 1em;
  margin: 0.5em;
}